planning/**
.codex
.opencode
openspec/**
data/**
thesis/**
AGENTS.md
reference/**
docs/**
app/python/__pycache__
app/python/.venv/
app/python/mlflow/
app/reports/
app/quarkus/target/
app/.env
app/influxdb/admin-token.json
app/influxdb-explorer/
app/models/forecast-models/**
app/python/tests/__pycache__/
